/*GLOBAL*/

/*VARIABLES*/
:root {
  --color-primary: #707070;
  --color-secondary: #ffffff;
  --color-tertiary: #888888;
  --font-main: Helvetica, sans-serif
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main)
}

/*HEADER*/
header {
  height: 400px;
  text-align: center;
  background-color: var(--color-primary);
  background: linear-gradient(45deg, var(--color-primary), var(--color-tertiary));
  ;
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 70%);

}

header .title {
  color: var(--color-secondary);
  padding: 70px 0 50px 0;
}

header .title h2 {
  font-size: 20px;
  font-weight: normal;
}

header .title h1 {
  padding-bottom: 24px;
  font-size: 40px;
}

header .title p {
  font-size: 14px;
  font-weight: normal;
}

header nav ul li {
  display: inline;
  margin-right: 40px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--color-tertiary);
  background-color: var(--color-secondary);
  padding: 10px 30px;
  font-size: 12px;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
}

header nav ul li a:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

/*ARTICLE*/
article {
  color: var(--color-tertiary);
  display: flex;
  justify-content: center;
  padding: 10px 290px 90px 290px;
}

.articleSection {
  max-width: 540px;
  margin-right: 60px;
}

.articleSection h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 30px;
}

.articleSection p {
  font-size: 12px;
  text-align: left;
  padding: 0 20px 0 0;

}

.emailSection {
  width: 340px;
}

.emailSection form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.emailSection label {
  max-width: 340px;
  font-size: 12px;
  padding: 7px 0;
}

.emailSection input[type=text],
input[type=email],
input[type=text] {
  margin-bottom: 20px;
  height: 30px;
}

.radio {
  padding: 0 0 20px 0;
}

.radio label:nth-of-type(1) {
  margin-right: 20px;
}

.emailSection .btnSubmit {
  color: var(--color-tertiary);
  font-size: 16px;
  height: 40px;
  max-width: 340px;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
}

.emailSection .btnSubmit:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

/*MAIN*/
main {
  text-align: center;
}

main .btnBuy {
  color: var(--color-tertiary);
  font-size: 16px;
  padding: 6px 68px;
  max-width: 200px;
  max-height: 30px;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;

}

main .btnBuy:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

main .addMoreProducts {
  margin-top: 50px;
  color: var(--color-tertiary);
  font-size: 16px;
  height: 40px;
  padding: 10px 36px;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;

}

main .addMoreProducts:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

/*SECTION SHARE*/
.shareSection {
  margin-top: 140px;
  text-align: center;
  color: var(--color-tertiary);
  max-width: 100vw;
}

.shareSection h2 {
  font-size: 18px;
  color: var(--color-primary);
  margin-bottom: 39px;
}

.shareSection .title {
  height: 1px;
  background-color: var(--color-tertiary);
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.shareSection .title span {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  font-weight: bold;
  position: relative;
  top: -0.5em;
  padding: 0 10px;
}

.shareSection h3 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 34px;
}
.shareSection form .formContainer {
  display: flex;
  justify-content: space-between;
  max-width: 730px;
  margin: 0 auto;
}

.formContainer {
  min-width: 340px;
}

.formContainer 
.labelNome, input[type=text],
.labelEmail, input[type=email] {
  min-width: 340px;
}

.formContainer .boxLabelNome .labelNome,
.labelEmail {
  text-align: left;
  font-size: 12px;
  padding: 7px 0;
}

.shareSection form .btnSubmitNow input[type=submit] {
  color: var(--color-tertiary);
  font-size: 16px;
  height: 40px;
  padding: 11px 86px;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  max-width: 260px;
  max-height: 40px;
  margin-top: 40px;
  margin-bottom: 75px;
}

.shareSection form .btnSubmitNow input[type=submit]:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}