/*GLOBAL*/

/*VARIABLES*/
:root {
  --color-primary: linear-gradient(to right, #300537, #46005c, #570087, #6000b6, #5d12eb);
  --color-secondary: #300537;
  --text-color: #ffffff;
  --hoover-color: #000000;

  --font-main: Helvetica, sans-serif
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main)
}

body {
  background: var(--color-secondary);
}

/*HEADER*/
header {
  height: 400px;
  text-align: center;
  background: var(--color-primary);
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 65%);
}

header .title {
  color: var(--text-color);
  padding: 70px 0 50px 0;
}

header .title h2 {
  font-size: 20px;
  font-weight: normal;
}

header .title h1 {
  padding-bottom: 24px;
  font-size: 40px;
}

header .title p {
  font-size: 14px;
  font-weight: normal;
}

header nav ul li {
  display: inline;
  margin-right: 40px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  background: var(--color-secondary);
  padding: 10px 30px;
  font-size: 12px;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
}

header nav ul li a:hover {
  cursor: pointer;
  background: var(--hoover-color);
  color: var(--text-color);
}

/*ARTICLE*/
article {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  padding: 10px 290px 90px 290px;
}

.articleSection {
  max-width: 540px;
  margin-right: 60px;
}

.articleSection h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 30px;
}

.articleSection p {
  font-size: 12px;
  text-align: left;
  padding: 0 20px 0 0;
  line-height: 21px;

}

.emailSection {
  width: 340px;
}

.emailSection form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.emailSection label {
  max-width: 340px;
  font-size: 12px;
  padding: 7px 0;
}

.emailSection input[type=text],
input[type=email],
input[type=text] {
  margin-bottom: 20px;
  height: 30px;
}

.radio {
  padding: 0 0 20px 0;
}

.radio label:nth-of-type(1) {
  margin-right: 20px;
}

.emailSection .btnSubmit {
  color: var(--text-color);
  font-size: 16px;
  height: 40px;
  max-width: 340px;
  background: var(--color-secondary);
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
}

.emailSection .btnSubmit:hover {
  cursor: pointer;
  background: var(--hoover-color);
  color: var(--text-color);
}

/*MAIN*/
main {
  text-align: center;
}

main .title {
  height: 1px;
  background: var(--text-color);
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
}

main .title span {
  background: var(--color-secondary);
  color: var(--text-color);
  font-weight: bold;
  position: relative;
  top: -0.5em;
  padding: 0 10px;

}

main .containerProduct {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

main .containerProduct .product {
  height: 445px;
  width: 200px;
  margin-top: 10px;
  color: var(--text-color);
}

main .containerProduct .product:nth-of-type(4), .product:nth-of-type(8){
  margin-right: 0;
}

main .containerProduct .product img {
  width: 200px;
}

main .containerProduct .product h4, .product p, .product span {
  text-align: left;
  padding: 10px 0;
}

main .containerProduct .product h4 {
  font-size: 14px;
  font-weight: normal;
}

main .containerProduct .product p {
  font-size: 12px;
}

main .containerProduct .product span {
  display: block;
  padding: 5px 0;
  font-size: 12px;
}

main .containerProduct .product span:nth-of-type(2) {
  font-weight: bold;
  font-size: 16px;
}

main .containerProduct .product .btnBuy {
  color: var(--text-color);
  font-size: 16px;
  padding: 6px 65px;
  max-height: 30px;
  max-width: 200px;
  margin-top: 10px;
  background: var(--color-secondary);
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;

}

main .containerProduct .product .btnBuy:hover {
  cursor: pointer;
  background: var(--hoover-color);
  color: var(--text-color);
}

main .addMoreProducts {
  margin-top: 50px;
  color: var(--text-color);
  font-size: 16px;
  height: 40px;
  padding: 10px 36px;
  background: var(--color-secondary);
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;

}

main .addMoreProducts:hover {
  cursor: pointer;
  background: var(--hoover-color);
  color: var(--text-color);
}

/*SECTION SHARE*/
.shareSection {
  margin-top: 140px;
  text-align: center;
  color: var(--text-color);
  max-width: 100vw;
}

.shareSection h2 {
  font-size: 18px;
  color: var(--color-primary);
  margin-bottom: 39px;
}

.shareSection .title {
  height: 1px;
  background: var(--text-color);
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.shareSection .title span {
  background: var(--color-secondary);
  color: var(--text-color);
  font-weight: bold;
  position: relative;
  top: -0.5em;
  padding: 0 10px;
}

.shareSection h3 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 34px;
}

.shareSection form .formContainer {
  display: flex;
  justify-content: space-between;
  max-width: 730px;
  margin: 0 auto;
}

.formContainer {
  min-width: 340px;
}

.formContainer .labelNome,
input[type=text],
.labelEmail,
input[type=email] {
  min-width: 340px;
  padding: 10px;
  outline: none;
}

.formContainer .boxLabelNome .labelNome,
.labelEmail {
  text-align: left;
  font-size: 12px;
  padding: 7px 0;
}

.shareSection form .btnSubmitNow input[type=submit] {
  color: var(--text-color);
  font-size: 16px;
  height: 40px;
  padding: 11px 86px;
  background: var(--color-secondary);
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  max-width: 260px;
  max-height: 40px;
  margin-top: 40px;
  margin-bottom: 75px;
}

.shareSection form .btnSubmitNow input[type=submit]:hover {
  cursor: pointer;
  background: var(--hoover-color);
  color: var(--text-color);
}

/*FOOTER*/
footer {
  height: 290px;
  padding: 145px 0;
  color: var(--text-color);
  background: var(--color-primary);
  /*background: linear-gradient(45deg, var(--color-primary), var(--color-tertiary));*/
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  /*eixo-horizontal eixo-vertical: ponto zero top-left*/
}

footer p {
  font-size: 12px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
}

footer p:last-child {
  margin-bottom: 80px;
}