/*VARIABLES*/
$color-primary: linear-gradient(to right, #300537, #46005c, #570087, #6000b6, #5d12eb);
$color-secondary: #300537;

$text-color: #ffffff;

$hover-color: #000000;

$font-main: Helvetica, sans-serif;